@model IEnumerable<SstDCSA.Models.tbl_student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<h2 class="text-center mt-3">Students</h2>

<hr />

<table class="table table-striped table-hover">
    <tr>
        <th>
            No
        </th>
        <th>
            @Html.DisplayNameFor(model => model.st_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.st_registration)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.st_semester1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.st_semester2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.st_semester3)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.st_center_code)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.st_admission_year)
        </th>
        
    </tr>
    @{ int i = 1; }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            @{ i++; }
            <td>
                @Html.DisplayFor(modelItem => item.st_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.st_registration)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.st_semester1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.st_semester2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.st_semester3)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.st_center_code)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.st_admission_year)
            </td>
            
        </tr>
    }

</table>
